<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DataProviderSuite">
    <test verbose="2" preserve-order="true"
          name="E:/OneDrive/Desktop/proyectos selenium/EducacionIt/src/test/java/pruebas/newSessionC8Test.java">
        <classes>
            <class name="pruebas.newSessionC8Test"/>
        </classes>
    </test>
</suite>